<img src="/assets/iceball.jpg" alt="iceballs">
<form action="/result" method="get">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="occ" placeholder="Occupation">
	<input type="text" name="ice" placeholder="Fav IceCream"><br><br>
	<input type="submit" value="DOIT">
</form>